:root {
  /* Colors */
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(212, 45%, 89%);
  --grayishBlue: hsl(220, 15%, 55%);
  --darkBlue: hsl(218, 44%, 22%);
}

html,
body {
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--lightGray);
}

.attribution {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 16px;

  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
